.container {
    width: 100%;
    margin: 20px;

    font-size: 24px;
    padding: 2px;
    height: 50%;

}

.one {

    /* background-color: #F3BA40; */
    width: 100%;
    margin: 30 0px;
    font-size: 24px;
    padding: 5px;
    height: 50%;
display: block;
overflow: hidden;
}

.two {
    /* background-color: #ff6a3d; */
    width: 100%;
    margin: 30 0px;
    font-size: 24px;
    padding: 5px;
    height: 50%;
}

.top {
    color: white;
    background-color: #1a2238;
    background-size: cover;
    background-attachment: fixed;
    height: 80%;
    /* border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px; */
}

.logo {
    height: 5rem;
    margin: 10px;
}

.navCustom {
    font-size: 25px;
    background-color: transparent;

}

.navCustom li {
    margin: 10px;
}

.parallax2 {
    background: url('images/pexels-photo-1379636.jpeg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 50%;
    width: 100%;
    margin: 30 0px;
    font-size: 24px;
    padding: 5px;
    height: 50%;
}

.parallax3 {
    background: url('images/pexels-photo-1379636.jpeg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.parallax4 {
    background: url('images/pexels-photo-1379636.jpeg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.yellow {
    color: #f4d87d;
}

.orange {
    color: #ff6a3d;
}

.blue {
    color: #9daaf2;
}

.top_para {
    font-size: 70px;
}

.mainPara {
    max-width: 80%;
    margin: auto;

}


.buttn {
    font-size: 20px;
    margin-top:5% ;
    color: rgb(36, 36, 36);
    border: none;
    outline: none;
    height: 40px;
    width: auto;
    background: #f4d87d;
    border-radius: 20px;
    z-index: -1;
}

.buttn:hover {
    cursor: pointer;
    background: rgb(240, 217, 100);
    box-shadow: 0 0 5px rgb(240, 217, 100),
        0 0 20px rgb(240, 217, 100) ,
      0 0 60px rgb(240, 217, 100);
}
.buttn a{
    text-decoration: none;
    color:rgb(36, 36, 36);
}
.buttn a:hover{
    text-decoration: none;
    color:rgb(36, 36, 36);
}


#preloader{
    background: #000 url(images/loader2.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    background-size: 20%;
    position: fixed;
    z-index: 100;
}

.image{
display: inline-block;
margin: 5%;
margin-right: 15%;
margin-left: 10%;

}
.image img{
height: 50%;
}

.content{
display: inline-block;

color: rgb(50, 50, 50);
}

.head{
    font-size: 60px;
    color: rgb(50, 50, 50);
}



/* Startups  */